* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(45deg, #ff914d, #ff3131, #ff914d);
    color: white;
    text-align: left;
    padding: 20px;
    overflow-y: hidden;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    width: 300px;
    height: 50px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
}



header h2 {
    font-size: 30px;
    color: #FFF;
    margin-top: 10px;
}

main {
    max-width: 1300px;
    margin: 0 auto;
}

.intro {
    margin-top: 30px;
}

.highlight {
    background-color: #FFFF99;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.highlight h3 {
    font-size: 24px;
    font-weight: bold;
}

.intro p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.quadrado {
    width: 200px;
    height:300px;
    background-image: linear-gradient(45deg, #ff914d, #ff3131, #ff914d);
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20%;
    left: 17%;
    top: 62%;
}

.quadrado p {
    font-size: 14px;
    color: white;
    left: 0;
    position: relative;
    top: 0px;
}

.quadrado img {
    width: 100px;
    border-radius: 20%;
}

.quadrado1 {
    width: 200px;
    height: 300px;
    background-image: linear-gradient(45deg, #ff914d, #ff3131, #ff914d);
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20%;
    left: 36%;
    top: -300px;
}

.quadrado1 p {
    font-size: 14px;
    color: white;
    left: 0;
    position: relative;
    top: 0px;
}

.quadrado1 img {
    width: 100px;
    border-radius: 20%;
}

.quadrado2 {
    width: 200px;
    background-image: linear-gradient(45deg, #ff914d, #ff3131, #ff914d);
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20%;
    left: 54%;
    top: -595px;
    height: 300px;
}

.quadrado2 p {
    font-size: 14px;
    color: white;
    left: 0;
    position: relative;
    top: 0px;
}

.quadrado2 img {
    width: 100px;
    border-radius: 20%;
}

.quadrado3 {
    width: 200px;
    height: 300px;
    background-image: linear-gradient(45deg, #ff914d, #ff3131, #ff914d);
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20%;
    left: 73%;
    top: -900px;
}

.quadrado3 p {
    font-size: 14px;
    color: white;
    left: 0;
    position: relative;
    top: 0px;
}

.quadrado3 img {
    width: 100px;
    border-radius: 20%;
}

.menu{
    bottom: 0;
    margin: auto;
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%,-70%)
    
}

.menucircular {
    display: none;
}

.linha {
    background-color: white;
    width: 25px;
    height: 3px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-left: -12px;
    margin-top: -1px;
}

/*BARRINHA DO MENU*/

.linha-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.linha-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0px, 0);
}

.linha-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.menucircular:checked+.menu-btn .linha-1 {
    -webkit-transform: translate3d(0, 0, 0)rotate(45deg);
    transform: translate3d(0, 0, 0)rotate(45deg);
}

.menucircular:checked+.menu-btn .linha-2 {
    -webkit-transform: translate3d(0, 0, 0)scale(0.1, 1.0);
    transform: translate3d(0, 0, 0)scale(0.1, 1.0);
}

.menucircular:checked+.menu-btn .linha-3 {
    -webkit-transform: translate3d(0, 0, 0)rotate(-45deg);
    transform: translate3d(0, 0, 0)rotate(-45deg);
}


.menu-btn,
.menu-a {
    color: white;
    width: 70px;
    height: 70px;
    line-height: 70px;
    position: absolute;
    border: 2px solid #282828;
    border-radius: 50%;
    text-align: center;
    background-color: #131313;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-btn {
    z-index: 2;
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1)translate3d(0, 0, 0);
    transform: scale(1.1, 1.1)translate3d(0, 0, 0);
}

.menucircular:checked~.menu-a:nth-child(3) {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(0.1px, -100px, 0);
    transform: translate3d(0.1px, -100px, 0);
}

.menucircular:checked~.menu-a:nth-child(4) {
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform: translate3d(90px, -50px, 0);
    transform: translate3d(90px, -50px, 0);
}

.menucircular:checked~.menu-a:nth-child(5) {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: translate3d(90px, 50px, 0);
    transform: translate3d(90px, 50px, 0);
}

.menucircular:checked~.menu-a:nth-child(6) {
    -webkit-transition-duration: .45s;
    transition-duration: .45s;
    -webkit-transform: translate3d(0.1px, 100px, 0);
    transform: translate3d(0.1px, 100px, 0);
}

.menucircular:checked~.menu-a:nth-child(7) {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transform: translate3d(-90px, 50px, 0);
    transform: translate3d(-90px, 50px, 0);
}

.menucircular:checked+.menu-btn {
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    -webkit-transform: scale(0.9, 0.9)translate3d(0, 0, 0);
    transform: scale(0.9, 0.9)translate3d(0, 0, 0);
}

.menucircular:checked~.menu-a {
    -webkit-transition-timing-function: cubic-bezier(.27, .68, .53, .3);
    transition-timing-function: cubic-bezier(.27, .68, .53, .3);
}

.menu-btn:hover {
    -webkit-transform: scale(1.2, );
    transform: scale(1.2, );
    box-shadow: inset 1px 2px #FF6347, inset 1px -1px 2px #FF4500;
}

/*COR DOS INCONES*/


.ai-1 {
    background-color: black;
}

.ai-1:hover {
    background-color: white;
    color: black;
}

.ai-2 {
    background-color: black;
}

.ai-2:hover {
    background-color: white;
    color: black;
}

.ai-3 {
    background-color: black;
}

.ai-3:hover {
    background-color: white;
    color: black;
}

.ai-4 {
    background-color: black;
}

.ai-4:hover {
    background-color: white;
    color: black;
}

.ai-5 {
    background-color: black;
}

.ai-5:hover {
    background-color: white;
    color: black;
}

#rodape {
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
}

#icon{
    right: 20px;
    position: relative;
}

#facul{
    font-size: 20px;
}

.bolha {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 120px; /* Ajuste o tamanho conforme necessário */
    height: 120px; /* Ajuste o tamanho conforme necessário */
    background-image: linear-gradient(45deg, orange, red);
    border-radius: 50%; /* Torna o fundo redondo */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden; /* Esconde qualquer conteúdo fora da bolha */
}

/* Estilização do mascote */
#mascote {
    max-width: 100px; /* Ajuste o tamanho conforme necessário */
    max-height: 100px; /* Ajuste o tamanho conforme necessário */
}

/* Estilização do vídeo dentro da bolha */
#video {
    display: none; /* Oculta o vídeo inicialmente */
    max-width: 100%; /* Faz o vídeo ocupar toda a bolha */
    max-height: 100%; /* Faz o vídeo ocupar toda a bolha */
    mix-blend-mode: multiply; /* Usa blend mode para ocultar o fundo branco */
}

/* Estilo para esconder os controles do vídeo */
#video.no-controls {
    pointer-events: none; /* Evita a interação com a área do vídeo */
}